*, ::after, ::before {
    box-sizing: border-box;
} 

html, body{
    height: 100%;
    background-color: #333;
}

body {
    color:#fff;
    margin-bottom: 80px; /* Margin bottom by footer height */
    min-height: 100%;
    
    
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
    position: relative; 
  }


.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #06f0d1;
    color:orange;
    box-shadow: 5px 10px grey;

  }

  /* .footer {
      background-color:#ffa500;
  } */

  ul {
    list-style-type: none;
}

.active a{
    color: #06f0d1 !important;
  }

  @media (max-width:480px){

    body{
        padding:10px;
        
    }
    .fixed-top{
         position:relative;
    }

}

p {
    text-align:center;
}

.card {
    @media (min-width: 480px) {
        float: right !important;
        }
    }
}

/* .main {
    padding-top:40px;
} */