/*
TODO: Refractor all unused css. 
TODO: consider breaking code out into modules for each component.
*/

/**************************************
              Elements
  ************************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --primary-white: #fff;
  --primary-black: black;
  --primary-light-grey: grey;
  --primary-teal: #06f0d1;
  --primary-orange: orange;
  --primary-purple: rgb(162, 0, 255);
  --primary-dark-purple: rgba(115, 0, 255, 1);
  --primary-pink: rgb(201, 25, 159);
}

html,
body {
  height: 100%;
  background-color: var(--primary-white);
  color: var(--primary-white);
  margin-bottom: 80px; /* Margin bottom by footer height */
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

p {
  text-align: center;
  color: var(--primary-white);
}

span {
  font-size: 1em;
}

a {
  color: var(--primary-teal);
}

/**************************************
        General Elements
  ************************************/

.row {
  margin: 0px;
}

.active {
  color: var(--primary-teal) !important;
}

/**************************************
                Navbar
  ************************************/
.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-link {
  display: block;
  padding: 0.5rem 0.6rem;
}

#navLinks {
  font-family: "Montserrat", "sans-serif";
  padding: 0px 15px 0px 15px;
  margin-left: 0.875rem;
  justify-content: flex-end;
}

.navBarBackground {
  background: var(--primary-pink);
  background: linear-gradient(
    90deg,
    var(--primary-pink) 0%,
    var(--primary-dark-purple) 100%
  );
}

.socialMediaLinks {
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px 15px;
  padding-left: 0px !important;
}

.socialLinks {
  transition: all 0.2s ease-in-out;
}

.pageLink {
  color: var(--primary-white);
  transition: all 0.2s ease-in-out;
  font-size: 1.1rem !important;
  font-weight: 400;
  justify-content: flex-end;
}
.pageLink:active,
.pageLink:focus {
  color: var(--primary-teal) !important;
}

.pageLink:hover,
.pageLink:focus,
.socialLinks:hover,
.socialLinks:focus {
  transform: scale(1.1);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--primary-white);
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--primary-teal);
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  margin-right: 0px;
  font-weight: bold !important;
}

.card-img-top {
  height: 35vh;
  margin-top: 15px;
}
.card-body {
  flex-grow: 0;
  height: auto;
  object-fit: contain;
}

.navLinkColor {
  /* color: black !important; */

  text-shadow: 1px 0px var(--primary-black);
  color: var(--primary-black);
  font-size: 1.5rem;
  font-family: "Montserrat", "sans-serif";
  font-weight: 400;
}

/**************************************
                Header
  ************************************/

.header-wraper {
  position: relative;
  border-bottom-right-radius: 20rem;
  background-size: cover;
  background-position: center;
  height: 75vh;
  background: var(--primary-pink);
  background: linear-gradient(
    90deg,
    var(--primary-pink) 0%,
    var(--primary-dark-purple) 100%
  );
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 70px;
  padding-top: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", "sans-sherif";
  z-index: 1;
}

.header-title {
  font-size: 4rem;
}

.header-btn-container {
  display: flex;
  margin-top: 8rem;
}

.header-btn {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  width: 8rem;
  height: 1.8em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 0.09em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: grab;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}
.header-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .header-btn-container {
    display: flex;
    flex-direction: column;
  }

  .header-btn {
    margin-top: 1em;
  }
}

/**************************************
            Icons
  ************************************/
.iconsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10rem;
}

/* for icons under header section */
.container > svg.icon {
  display: inline-block;
  font-size: inherit;
  height: 3em;
  overflow: visible;
  vertical-align: -0.125em;
  width: 3em;
  color: var(--primary-black);
}

/**************************************
            About Me/Main
  ************************************/
#home {
  /* background: url("./components/pages/assets/surfbackgroundbw.jpg"); */
  background-size: cover;
}

.aboutMe {
  max-width: 65%;
  padding: 0px;
  margin-top: 4rem;
}

.aboutMeSection {
  color: var(--primary-black);
  display: flex;
  justify-content: center;
}

.aboutMeContainer {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

hr {
  content: "";
  height: 1px;
  width: 60%;
  border-bottom: 2px solid var(--primary-pink);
}
.aboutMeSection p {
  color: var(--primary-black);
  margin-bottom: 4rem;
  font-family: "Roboto", "sans-serif";
}
.aboutMeSection h3 {
  color: var(--primary-purple);
  margin-right: 8rem;
  margin-left: 8rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .aboutMeSection h3 {
    color: var(--primary-purple);
    margin-right: 0rem;
    margin-left: 0rem;
    font-weight: 500;
  }
}

.AboutMeHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
  margin-top: 5rem;
}

.backgroundCard {
  background: rgba(51, 51, 51, 0.7);
  padding: 30px 16px 30px 16px;
  width: 100%;
  border-radius: 30px;
}
.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  position: relative;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.15rem;
  line-height: 2rem;
}

.contactInfo > p {
  color: var(--primary-black);
  font-family: "Montserrat", sans-serif;
}

.contactInfo p > a {
  color: var(--primary-pink);
}

/**************************************
            Portfolio card
  ************************************/
#portfolio > div {
  margin-bottom: 0px;
}
.portfolio-card {
  background-color: rgb(45, 46, 47);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  margin: 20px;
}

.portfoliomargin {
  /* padding-top: 40px; */
  margin-top: 60px;
  border-radius: 20rem 0rem 0rem 0rem;
  background: var(--primary-pink);
  background: linear-gradient(
    90deg,
    var(--primary-pink) 0%,
    var(--primary-dark-purple) 100%
  );
  margin-bottom: 0px;
  /* margin-bottom: 60px; */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
}

.portBtn {
  margin-right: 20px;
  margin-left: 20px;
  background-color: var(--primary-light-grey);
  transition: all 0.2s ease-in-out;
  border-color: var(--primary-teal);
}
.portBtn:focus,
.portBtn:hover {
  margin-right: 20px;
  margin-left: 20px;
  background-color: var(--primary-orange);
  border-color: var(--primary-teal);
  transform: scale(1.1);
}

.card-title {
  font-family: "Montserrat", "sans-serif" !important;
}

.card-text {
  font-family: "Roboto", "sans-serif" !important;
}

/**************************************
            Footer
  ************************************/
.footer {
  position: fixed, bottom;
  bottom: 0;
  width: 100%;
  min-height: 200px;
  background-color: #151414;
}

.contact-box {
  position: relative;
}

.contact-box__info--title {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left !important;
}

.contact-box__info--title:hover,
.contact-box__info--title:focus {
  color: var(--primary-purple);
}

.contact-box__info--subtitle {
  color: grey;
  text-decoration: none;
  font-size: 1rem;
  text-align: left !important;
}

.contact-box .icon {
  width: 3.5rem;
  color: white;
  stroke: var(--primary-dark-purple);
  padding-top: 0.5rem;
}

.footer-sm > a {
  color: white;
}

.footerIcons {
  font-size: 1.6rem;
  margin-left: 1rem;
}

@media (max-width: 480px) {
  .contact-box .icon {
    width: 2rem;
  }
  .footerIcons {
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  .contact-box__info--title {
    font-size: 1rem;
    font-weight: 500;
  }

  .contact-box__info--subtitle {
    font-size: 0.8rem;
  }
}

.contact-box

/**************************************
            Font Settings
  ************************************/
.large-fontsize {
  font-size: 30px !important;
}

.smaller {
  font-size: 1.5em;
}

.larger {
  font-size: 3em;
}

.smallImage {
  max-width: 200px;
  max-height: 200px;
}

/**************************************
            Button States
  ************************************/

/* .btn.btn-secondary {
    color: #06f0d1;
    background-color: #1d1b1b;
    box-shadow: 2px 2px 20px;
}

.btn.btn-secondary:hover {
    background-color:#06f0d1;
    color: orange;
    outline: none;
} */

/**************************************
            Media Queries
  ************************************/
/* Fix padding under menu after resize */
@media screen and (max-width: 767px) {
  .vertical-center {
    padding-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .card-img-top {
    flex-grow: 1;
    height: 15vh;
    object-fit: cover;
    margin-top: 15px;
  }
  .card-body {
    flex-grow: 1;
    height: auto;
    object-fit: contain;
  }
  .portBtn {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
  }

  .socialMediaLinks {
    display: flex;
    justify-content: center;
    padding: 0px;
  }

  .smallScreenNavLinks {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1239px) {
  .card {
    margin-top: 80px;
    max-width: 80%;
  }

  .card-img-top {
    flex-grow: 1;
    height: 15vh;
    object-fit: cover;
    margin-top: 15px;
  }
  .card-body {
    flex-grow: 1;
    height: auto;
    object-fit: contain;
  }
  .portBtn {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
  }

  .socialMediaLinks {
    display: flex;
    justify-content: center;
    padding: 0px;
  }

  .smallScreenNavLinks {
    display: flex;
    justify-content: center;
  }
  .navbar {
    padding: 0px;
  }
  p.lead {
    font-size: 0.5rem;
  }
  p.card-text {
    font-weight: normal;
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 480px) {
  .fixed-top {
    position: relative;
  }
  .navbar {
    margin-top: 0;
    padding: 5px 5px 5px 5px;
  }

  .aboutMe {
    margin-top: 75px;
    max-width: 100%;
    padding-top: 40px;
  }

  .header-wraper {
    border-bottom-right-radius: 10rem;
  }

  .portfoliomargin {
    border-radius: 10rem 0rem 0rem 0rem;
    padding-top: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
  }

  .card {
    @media (min-width: 480px) {
      float: right !important;
    }
  }
}

@media screen and (max-width: 767px) {
  _::-webkit-full-page-media,
  _:future,
  :root .safari10 {
    margin-top: 294px;
    padding-bottom: -294px;
  }
}
@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
  @media {
    .safari10 {
      margin-top: 294px;
      padding-bottom: -294px;
    }
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @media {
    .safari10 {
      margin-top: 294px;
      padding-bottom: -294px;
    }
  }
}

/**************************************
            typed-text
  ************************************/
.typed-text {
  font-size: 2rem;
  font-family: "Montserrat", "sans-serif";
  color: var(--primary-orange);
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem;
  }
}

/**************************************
            Particles
  ************************************/

canvas.tsparticles-canvas-el {
  height: 50%;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 75vh !important;
  width: 100vh;
  z-index: 1;
}

/* @media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
} */

element.style {
  height: 0%;
}

/**************************************
            Padding Reset
  ************************************/
.noPadding {
  padding: 0px;
}
